@using E_Commerce.FrontEnd.Models.Products
@model ProductUpdateModel

<form asp-action="Edit" method="post">

    <input asp-for="Name" />

    <input asp-for="Price" />

    <input asp-for="Description" />

    <input asp-for="CategoryId" />

    <button type="submit">
        Save
    </button>

</form>
