@{
    ViewData["Title"] = "Orders";
}

<h1>@ViewData["Title"]</h1>

<p>View and manage customer orders. Update order status, view details and process returns.</p>

<p>
    <a asp-controller="Orders" asp-action="Index">Go to Orders list</a>
</p>
